.project
.idea/
/vendor/*
.bundle
*.swp
.DS_Store
*.pyc
*log.log
development.ini
test.ini
test_pull_request.ini
SMOKE_TEST_PID
.settings
.pydevproject
.coverage
dist
build
.ropeproject
*.egg
ez_setup.app/
xunit.xml
coverage.xml